.projects-section {
  padding: 4rem 2rem;
  background-color: #000 !important;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
}

.projects-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff !important;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  font-family:fantasy;
}

.projects-divider {
  height: 4px;
  width: 80px;
  background: linear-gradient(135deg, #6343a3cc, #f856ddcc, #ec964fcc);
  margin: 0 auto 3rem;
  border-radius: 2px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

/* Card */
.project-card {
  background: #0a0a0a !important;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, border 0.3s ease;
  display: flex;
  flex-direction: column;
  border: 1px solid #6343a3cc;
}

.project-card:hover {
  transform: translateY(-6px);
  border: 1px solid #f856ddcc;
}

/* Image */
.project-image-container {
  height: 250px;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.project-card:hover .project-image {
  transform: scale(1.05);
}

/* Content */
.project-content {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-content h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #fff !important;
  font-family: Arial, Helvetica, sans-serif;
}

.project-description {
  color: rgb(180, 180, 180) !important;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

.project-features {
  margin: 1rem 0;
  padding-left: 1.2rem;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.project-features li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Tech badges */
.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1.5rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.tech-badge {
  background-color: #6343a3cc;
  color: #fff;
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  transition: background 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.tech-badge:hover {
  background: linear-gradient(135deg, #6343a3cc, #f856ddcc, #ec964fcc);
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 50px;
  font-weight: 200px;
  text-decoration: none;
  color: #fff;
  transition: background 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.live-demo-btn,
.source-code-btn {
  background: #6343a3cc !important;
  padding: 0.3rem 0.6rem !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
}

.live-demo-btn:hover,
.source-code-btn:hover {
  background: linear-gradient(135deg, #6343a3cc, #f856ddcc, #ec964fcc) !important;
}

/* Button layout */
.project-buttons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
